# Python
__pycache__/
*.py[cod]
*$py.class
venv/
ENV/
db.sqlite3

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.packages
build/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
android/key.properties
android/app/src/main/res/drawable-*/launch_background.xml
windows/flutter/generated_config.cmake

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
